version: '3'

services:
  web:
    build: ./flask-app
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      - MYSQL_PASSWORD=password
      - MYSQL_USER=root
      - MYSQL_HOST=db
      - MYSQL_DATABASE=flask_db
    restart: always
  db:
    build: ./mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
